In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [69]:
file_name='newedit.csv'
df_data=pd.read_csv(file_name, sep=',',index_col=None,encoding='ISO-8859-1')

In [70]:
df_data.rename(columns={'overall-ratings':'overall'},inplace=True)
df_data.rename(columns={'work-balance-stars':'rating1'},inplace=True)
df_data.rename(columns={'culture-values-stars':'rating2'},inplace=True)
df_data.rename(columns={'carrer-opportunities-stars':'rating3'},inplace=True)
df_data.rename(columns={'comp-benefit-stars':'rating4'},inplace=True)
df_data.rename(columns={'senior-mangemnet-stars':'rating5'},inplace=True)

In [71]:
df_data = df_data.applymap(lambda x: x if x!='none' else np.nan)
df_data = df_data.dropna(subset=['rating1','rating2','rating3','rating4','rating5'])

In [72]:
dtypes={'rating1':'int64',
        'rating2':'int64',
        'rating3':'int64',
        'rating4':'int64',
        'rating5':'int64',
        'company':'string',
        'location':'string',
        'job-title':'string',
        'summary':'string',
        'pros':'string',
        'cons':'string',
        'advice-to-mgmt':'string'}
df_data=df_data.astype(dtypes)
df_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53218 entries, 0 to 66981
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idex            53218 non-null  int64
 1   company         53218 non-null  string
 2   location        35711 non-null  string
 3   dates           53218 non-null  object
 4   job-title       53218 non-null  string
 5   summary         53135 non-null  string
 6   pros            53218 non-null  string
 7   cons            53217 non-null  string
 8   advice-to-mgmt  30371 non-null  string
 9   overall         53218 non-null  int64
 10  rating1         53218 non-null  int64
 11  rating2         53218 non-null  int64
 12  rating3         53218 non-null  int64
 13  rating4         53218 non-null  int64
 14  rating5         53218 non-null  int64
 15  helpful-count   53218 non-null  int64
dtypes: int64(8), object(1), string(7)
memory usage: 6.9+ MB

In [73]:
job_position = df_data['job-title']

In [74]:
import re

df_data['Tech'] = job_position.apply(lambda x: 1 if re.search(r'test|3D|engineer|technician|analyst|AWS|Azure|automation|technology|ASIC|architect|scientist|AFE|AHA|applications|deverloper|researcher|data|web|analytical|AOS|APP|analytics|BI|Big data|systems|cloud|computer|crm|cs|database|tech|technical|electrical|electric|software|engineering|fraud|GIS|hardware|information|analyst|infrastructure|IOS|IT|Mac|machine|mechanical|microsoft|network|oracle|QA|Quality|research|SDE|search|security|siri|solutions|systems|tier|VCS|virtual|warehouse|web|wireless|iphone', x, re.IGNORECASE) else 0)

print(df_data.head())

   idex company           location      dates  \
0     1  google               <NA>  11-Dec-18
1     2  google  Mountain View, CA  21-Jun-13
2     3  google       New York, NY  10-May-14
3     4  google  Mountain View, CA   8-Feb-15
4     5  google    Los Angeles, CA  19-Jul-18

                                  job-title  \
0     Current Employee - Anonymous Employee
1         Former Employee - Program Manager
2  Current Employee - Software Engineer III
3     Current Employee - Anonymous Employee
4       Former Employee - Software Engineer

                                             summary  \
0                           Best Company to work for
1  Moving at the speed of light, burn out is inev...
2  Great balance between big-company security and...
3  The best place I've worked and also the most d...
4                    Unique, one of a kind dream job

                                                pros  \
0                      People are smart and friendly
1  1) Food, food, food. 15+ cafes on main campus ...
2  * If you're a software engineer, you're among ...
3  You can't find a more well-regarded company th...
4  Google is a world of its own. At every other c...

                                                cons  \
0                 Bureaucracy is slowing things down
1  1) Work/life balance. What balance? All those ...
2  * It *is* becoming larger, and with it comes g...
3  I live in SF so the commute can take between 1...
4  If you don't work in MTV (HQ), you will be giv...

                                      advice-to-mgmt  overall  rating1  \
0                                               <NA>        5        4
1  1) Don't dismiss emotional intelligence and ad...        4        2
2  Keep the focus on the user. Everything else wi...        5        5
3  Keep on NOT micromanaging - that is a huge ben...        5        2
4  Promote managers into management for their man...        5        5

   rating2  rating3  rating4  rating5  helpful-count  Tech
0        5        5        4        5              0     0
1        3        3        5        3           2094     0
2        4        5        5        4            949     1
3        5        5        4        5            498     0
4        5        5        5        5             49     1

In [98]:
df_data.to_csv('after_tech.csv', index=False)

In [75]:
df_data['Tech'].value_counts()

0    37363
1    15855
Name: Tech, dtype: int64

In [76]:
X = df_data[['rating1','rating2','rating3','rating4','rating5']]
y = df_data['Tech']

In [77]:
X.shape

(53218, 5)

In [90]:
y.shape

(53218,)

In [92]:
print(y)

0        0
1        0
2        1
3        0
4        1
        ..
66969    1
66972    0
66973    1
66976    1
66981    0
Name: Tech, Length: 53218, dtype: int64

In [80]:
# set aside 80% of data for testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8, random_state=1, shuffle=True)

In [93]:
# y_train_df=pd.DataFrame(y_train)
# y_train_df.info()
print(y_train)

8971     0
16736    0
20447    1
17953    0
26838    0
        ..
63306    1
39992    0
7060     0
15529    0
40563    1
Name: Tech, Length: 10643, dtype: int64

In [97]:
# y_test_df=pd.DataFrame(y_test)
# y_test_df.info()
print(y_test)
num_ones = np.sum(y_train == 1)
print("y_train 中有", num_ones, "个 1")
num_ones = np.sum(y_train == 0)
print("y_train 中有", num_ones, "个 0")
num_one = np.sum(y_test == 1)
print("y_test 中有", num_one, "个 1")
num_one = np.sum(y_test == 0)
print("y_test 中有", num_one, "个 0")

49453    0
66648    1
54233    0
7172     0
6300     1
        ..
43269    0
29702    0
49758    0
19763    0
10838    0
Name: Tech, Length: 42575, dtype: int64
y_train 中有 3125 个 1
y_train 中有 7518 个 0
y_test 中有 12730 个 1
y_test 中有 29845 个 0

In [83]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

model = LogisticRegression()

# 使用交叉验证拟合模型并计算准确率
# scores = cross_val_score(model, X, y, cv=5)
# print("Cross-validation scores:", scores)
# print("Average score:", scores.mean())
log_regression = LogisticRegression(solver='saga')
# train the logistic regression model
_ = log_regression.fit(X_train, y_train)
y_test_pred = log_regression.predict(X_test)

In [84]:
print(log_regression.coef_)
print(log_regression.intercept_)

[[ 0.01958383 -0.02134158  0.08634438 -0.03908252  0.02016049]]
[-1.09412539]

In [85]:
y_test_pred
y_test_pred_pd=pd.DataFrame(y_test_pred)
y_test_pred_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42575 entries, 0 to 42574
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       42575 non-null  int64
dtypes: int64(1)
memory usage: 332.7 KB

In [86]:
y_test

49453    0
66648    1
54233    0
7172     0
6300     1
        ..
43269    0
29702    0
49758    0
19763    0
10838    0
Name: Tech, Length: 42575, dtype: int64

In [87]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
print("Accuracy:{}".format(accuracy_score(y_test, y_test_pred)))
print("Precision:{}".format(precision_score(y_test, y_test_pred)))
print("Recall:{}".format(recall_score(y_test, y_test_pred)))

Accuracy:0.7009982384028186
Precision:0.0
Recall:0.0

C:\Users\TracyCui\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))